* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-60{
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

p{
    line-height: 1.3;
}

.btn {
    height: 30px;
    width: 70px;
    line-height: 10px;
    vertical-align: middle;
    border: none;
}

/* / COMMON  */
/* Header  */
#main-header {
    background-color: white;
    color: #242425;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.colonna li {
    display: inline-block;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 0;
    color: royalblue;
}

.menu-right {
    width: 50%;
    line-height: 80px;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-left: 5px;
    float: left;
    text-align: right;
}

.menu-left{
    width: 50%;
    line-height: 80px;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-left: 5px;
    float: left;
}

 li a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
}

.logo img {
    vertical-align: middle;
    height: auto;
}

/* COMANDO HOVER  */
.menu-left ul li a:hover,
.menu-right ul li a:hover {
    border-bottom: 2px solid green;
}

.btn.blue {
    background-color: #0D60FF;
    color: white;
    height: 30px;
    width: 70px;
    margin-right: auto;
    font-size: 15px;
    margin-right: 5%;
    margin-left: 3%;
}
/* FINE HEADER  */
/* INIZIO SLIDER  */

.jumbo {
    background-color: #B3D0E8;
    height: 850px;
    width: 100%;
}

.jumbo h1{
    color: black;
    font-size: 71px;
    padding-top: 15%;
}

.text-jumbo {
    font-size: 18px;
    width: 35%;
    margin-top: 80px;
    border-spacing: 20px;
}

.bt2nd {
    height: 40px;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #0D60FF;
    color: white;
    font-size: 16px;
}

.delete {
    font-size: 15px;
}

.arrow {
    margin-top: 20px;
    font-size: 50px;
}

.container {
    position: relative;
}

.jumbo-picture img {
    position: absolute;
    width: 75%;
    height: 70%;
    left: 35%;
    top: 55%;

}
