* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-70{
    width: 70%;
    margin: 0 auto;
}

a {
    color: black;
}

p{
    text-decoration: none;
    line-height: 1.3;
}
/* / COMMON  */
/* BOTTONI  */
/* bottone comune  */
.btn {
    line-height: 10px;
    vertical-align: middle;
    border: none;
    font-size: 1em;
    color: white;
    background-color: #0D60FF;
}

.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}
/* bottone comune  */
#bott {
    padding-left: 20px;
 }

.bt1st {
    height: 35px;
    width: 200px;
    margin: 30px 0 10px;
}

.bt2nd {
    height: 35px;
    width: 240px;
    margin: 30px 0 10px;
}

.btn.start {
    height: 30px;
    width: 70px;
    margin: 0 5% 0 3%;
}

#btn-vendite{
    float: right;
    width: 290px;
    vertical-align: top;    
}

.bottone-largest {
    height: 30px;
    width: 270px;
    margin: 20px 0 10px;
}

#btn-bianco {
    height: 35px;
    width: 140px;
    margin: 20px 0 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

#btn-bianco:hover {
    opacity: 0.6;
    cursor: pointer;
}
/* BOTTONI  */
/* HEADER  */
#main-header {
    width: 100%;
    height: 80px;
    background-color: white;
    color: #242425;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.colonna li {
    display: inline-block;
    padding: 0 20px 0 10px;
    color: royalblue;
}

.menu-right {
    position: relative;
    width: 50%;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 0 5px 5px;
    float: left;
    text-align: right;
}

.menu-left{
    width: 50%;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 0 5px 5px;
    float: left;
}

.menu-right li{
    position: relative;
}

 li a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
}

.logo img {
    vertical-align: middle;
    height: auto;
    cursor: pointer;
}

.menu-left ul li a:hover,
.menu-right ul li a:hover {
    border-bottom: 2px solid black;
}
/* +++++++++MENU A TENDINA++ */

.menu-right ul li:hover .submenu{
    display: block;
}

.submenu li{
    display: block;
    padding: none;
    line-height: 2;
    width: 230px;
}

.submenu{
    display: none;
    position: absolute;
    top: 79px;
    left: -20px;
    padding: 7px 0;
    background-color: #fafafa;
    line-height: 100%;
    text-align: left;
}

/* FINE HEADER  */
/* INIZIO JUMBO  */
.jumbo {
    background-color: #B3D0E8;
    height: 750px;
    width: 100%;
}

.jumbo h1{
    font-size: 70px;
    padding-top: 15%;
}

.text-jumbo {
    font-size: 16px;
    width: 32%;
}

.delete {
    font-size: 15px;
}

.fa-arrow-down {
    margin-top: 4%;
    font-size: 45px;
}

.container {
    position: relative;
}

.jumbo-picture img {
    position: absolute;
    width: 65%;
    height: 65%;
    left: 35%;
    top: 58%;
}
/* FINE JUMBO  */
/* INIZIO MAIN  */
/* Inizio sezione intro  */
.plans-intro{
    margin-top: 10%;
}

.title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5%;
}

.choice {
    display: inline-block;
    width: 170px;
    height: 40px;
}

.circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 8px;
    border: 4px solid #0D60FF;
    background-color: white;
    margin: 10px;
}

.choice span {
    display: inline-block;
    height: 100%;
    font-size: 13px;
    color: white;
    text-align: center;
    vertical-align: middle;
    color: black;
}

div[class*="circle an"] {
    border: 0.3px solid lightgray;
  }

/* Fine sezione intro  */
/* Inizio sezione 2 column  */
.plans{
    margin-top: 1%;
    display: table;
}

.col-left {
    border: 1px solid lightgray;
    float: left;
    width: calc(100% / 3 - 20px);
    padding-bottom: 15%;
    min-height: 950px;
}

.col-right {
    border: 1px solid lightgray;
    float: right;
    width: calc(100% / 3 - 20px);
    padding-bottom: 15%;
    min-height: 950px;
}

.col-center {
    border: 1px solid lightgray;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 30px;
    padding-bottom: 15%;
    min-height: 950px;
}

.top-title {
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.underline {
    color: #4E8FFF;
    text-decoration: underline;
    font-size: 16px;
}

.underline:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* all'interno delle colonne  */
.col-text h2 {
    padding: 20px;
    text-align: left;
}

hr {
    width: 15%;
    margin: 20px;
}

strong {
    padding: 20px;
    text-align: left;
}

.month {
    padding: 10px 0 10px 20px;
    text-align: left;
    color: gray;
}

.col-text ul li {
    font-size: 14px;
    padding: 15px 0 15px 20px;
}

.acquista {
    padding-left: 20px;
    font-size: 14px;
}

ul li {
    list-style-type: none;
}

.highlighting ul li i{
    color: #0D60FF;
}
/* all'interno delle colonne  */
/* fine sezione column  */
/* SECTION COLUMN DOWN  */
.plans-column-down {
    height: 200px;
    margin-top: 3%;
    border: 1px solid lightgray;
}

.solution {
    padding: 10px 0 10px 20px;
    text-align: left;
    color: black;
    font-size: 14px;
}
/* fine SECTION COLUMN DOWN  */
/* Inizio sezione 3 */
.partners {
    margin: 10% auto;
    height: 400px;
}

.partners img {
    width: 54%;
    height: 55%;
    float: left;
}

.text-main {
    float: right;
    height: 60%;
    width: 46%;
    padding: 40px 0 0 40px;
}

.text-main h3 {
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 1.4;
}

.text-main p {
    line-height: 1.8;
    font-size: 15px;
}
/* fine sezione 3 */
/* Inizio sezione 4  */
/* Inizio mini sezioni  */
.mini-sezione {
    width: calc(100% / 3 - 30px);
    margin-bottom: 12%;
    margin-right: 30px;
    float: left;
    padding: 2px;
}

.mini-sezione img {
    width: 100%;
    height: 50%;
}

.mini-sezione h3{
    font-size: 22px;
    line-height: 1.4;
    padding-bottom: 15px;
}

.mini-sezione p {
    font-size: 15px;
}

#underline-b {
    text-decoration: underline;
}
/* fine sezione 4  */
/* inizio sezione-intro 5  */
.teams-intro h1{
    padding-bottom: 25px;
    line-height: 1.4;
}
/* fine sezione 5-intro  */
/* Inizio sezione 5 */
.container-teams-colon {
    height: 32vw;
    width: 100%;
    background-color: #F5F5F5;
}

.colon {
    height: 100%;
    width: calc(100% / 3 - 40px);
    float: left;
}

.firm {
    height: 16vw;
    width: calc(100% / 2);
    float: left;
}

.colon.central {
    margin-left: 60px;
    margin-right: 60px;
}

.firm img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
    padding: 25%;
    filter: invert(1);
}
/* container-brand-colon  */
/* colonne sinistra  */
.designit{
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;
    width: 50%;
}

.arizona{
    background-color: #62092B;
    width: 100%;
}

.florida{
    background-color: #1193CE;
    width: 100%;
}

.topps{
    background-color: #FD1C1D;
    width: 100%;
}

/* colonna centrale */
.colon.central {
    overflow-y: auto;
}

.designit-cx img{
    width: 30%;
    height: 30%;
    margin-top: 50px;
}

.colon.central hr {
    width: 45px;
    margin-left: 0;
    margin-bottom: 45px;
}

.colon.central p{
    font-size: 15px;
    font-weight: 350;
    margin: 30px 0;
}

blockquote{
    padding: 20px 20px 20px 0;
    font-size: 15px;
    font-weight: 350;
}

/* colonna destra  */
.Wbicycle{
    background-color: #D50020;
    width: 50%;
}

.hearts{
    background-color: #B3D0E8;
    width: 100%;
}

.lonely{
    background-color: #0D2481;
    width: 100%;
}

.clearchan{
    background-color: #FED830;
    width: 100%;
}
/* container-brand-colon  */
/* inizio brand-bottom  */
.brand-bottom{
    background-color:  #B3D0E8;
}

.brand-bottom h1{
    color: #62092B;
    float: left;
    width: 60%;
    height: 60%;
    padding-left: 15%;
    font-size: 36px;
    line-height: 1.4;
/* centratura */
    margin-top: 8%;
    margin-bottom: 8%;
}

.brand-large{
    width: 40%;
    float: left;
/* centratura */
    margin-top: 8%;
    margin-bottom: 8%;
}

.bottone-large{
    background-color: white;
    color: black;
    height: 35px;
    width: 300px;
    border: none;
}
/* fine brand-bottom  */
/* fine section5  */
/* Inizio sezione 6  */
.FAQ {
    margin-top: 7%;
    margin-bottom: 7%;
}

.containerFAQ:hover p {
    display: inline;
    cursor: auto;
}

.containerFAQ p{
    display: none;
    font-size: 14px;    
    color: gray;
    text-align: center;
}

.FAQ h2{
    line-height: 4.5;
    font-size: 25px;
}

.FAQ hr{
    width: 100%;
    margin: 0;
}

.question{
    font-weight: bold;
    font-size: 16px;
    line-height: 5;
    float: left;
    width: 90%;
}

.FAQ i{
    width: 10%;
    font-size: 20px;
    vertical-align: middle;
    line-height: 4;
    text-align: center;
}
/* fine sezione 6  */
/* FINE MAIN  */
/* inizio FOOTER  */
footer {
    background-color: red;
}

.foot-up {
    background-color: black;
    height: 45vh;
    color: white;
}

.col-ft {
    height: 30vh;
    width: calc(100% / 5 - 5vw);
    float: left;
    margin-top: 10vh;
    margin-left: 1vw;
}

.col-ft:last-child{
    margin-right: 5vw;
}

.col-ft:first-child{
    margin-left: 7vw;
}

.col-ft h3{
    padding: 2vw;
    font-size: 20px;
}

.col-ft ul li{
    padding-left: 2vw;
    font-size: 15px;
    line-height: 1.6;
}

.foot-down {
    height: 13vh;
    background-color: black;
    color: white;
}

.text-ft-down{
    height: 100px;
    width: 7vw;
    border-top: 0.5px solid white;
    margin-left: 9vw;
    padding-top: 2.5vw;
    font-size: 13px;
    color: gray;
}

.fa-sort-up{
  vertical-align: text-top;
  line-height: 2;
  font-size: 11px;
}
/* fine FOOTER  */