* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-60{
    width: 60%;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    height: 10px;
    width: 10%;
    line-height: 10px;
    vertical-align: middle;
    /* padding: 60%; */
}

/* / common  */

header {
    width: 100%;
}

.container.primo ul li {
    display: inline-block;
    padding: 20px;
}

.menu-left,
.menu-right {
    height: 100px;
    width: 45%;
    border: 1px solid black;
    float: left;
    /* padding: 1%; */
    line-height: 0;
    vertical-align: middle;
    padding: 20px;
}

/* .menu-left a:hover {
    border-bottom: lightgreen;
} */


/* MENU-RIGHT  */

.menu-right {
    float: right;
    text-align: right;
}

.menu-left{
    float: left;
}

.btn.blue {
    background-color: #0D60FF;
    color: white;
}








/* -------------------------------- */ 
/* ---------------- */

/* INIZIO SLIDER  */

.slider {
    background-color: #B3D0E8;
    height: 700px;
    width: 100%;
}

.slider h1{
    color: black;
    font-size: 71px;
    padding-top: 5%;
}
